<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home | SB Coaching Institute</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Nav Bar -->
<nav class="navbar">
    <div class="nav-brand">
        <a th:href="@{/}">SB Coaching Institute</a>
    </div>
    <div class="nav-links">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/courses}">Courses</a>
        <a th:href="@{/reviews}">Reviews</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/students}">Students</a>
        <a class="btn-nav" th:href="@{/dashboard}">Dashboard</a>
    </div>
</nav>

<div class="details-container">

    <h1>Student Details</h1>


    <p>
        <strong>ID:</strong>

        <span th:text="${student.id}"></span>
    </p>


    <p>
        <strong>Name:</strong>

        <span th:text="${student.name}"></span>
    </p>


    <p>
        <strong>Email:</strong>

        <span th:text="${student.email}"></span>
    </p>


    <p>
        <strong>City:</strong>

        <span th:text="${student.city}"></span>
    </p>


    <p>
        <strong>Age:</strong>

        <span th:text="${student.age}"></span>
    </p>


    <br>


    <a th:href="@{/student/edit/{id}(id=${student.id})}">
        Edit
    </a>


    |


    <a th:href="@{/students}">
        Back to Students
    </a>

</div>



<footer class="footer">
    <p>&#169; 2026 SB Coaching Institute</p>
</footer>

</body>
</html> 